/* Ourtaichi Brand CSS */
.header--middle-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.header__left-menu,
.header__right-group {
    flex: 1;
    display: flex;
    align-items: center;
}

.header__left-menu {
    justify-content: flex-end;
}

.header__right-group {
    justify-content: flex-start;
}

.header__heading {
    flex-shrink: 0;
    margin: 0 2rem;
}

.header__heading-logo-wrapper {
    width: 80px !important;
    height: 80px !important;
    border-radius: 50%;
    overflow: hidden;
}

.header__heading-logo {
    width: 100% !important;
    height: 100% !important;
    object-fit: cover;
}

.header__icons {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-left: 1rem;
}

.header__icon {
    display: block;
} 